<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование книги</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBook_id()})}" th:object="${book}">
    <label for="name">Введите название:</label>
    <input type="text" th:field="*{name}" id="name"/><br/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>

    <label for="author">Автор:</label>
    <input type="text" th:field="*{author}" id="author"/><br/>
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author Error</div>


    <label for="year_of_production">Год:</label>
    <input type="text" th:field="*{year_of_production}" id="year_of_production"/><br/>
    <div style="color: red" th:if="${#fields.hasErrors('year_of_production')}" th:errors="*{year_of_production}">Year Error</div>

    <br/>
    <br/>
    <input type="submit" value="Сохранить">
</form>
<hr/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBook_id()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>