<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getName()}"></title>
</head>
<body>
<p th:text="${'Название: ' + book.getName() + ';'}">VALUE</p>
<p th:text="${'Автор: ' + book.getAuthor() + ';'}">VALUE</p>
<p th:text="${'Год издательства: ' + book.getYear_of_production() + ';'}">VALUE</p><br/>


<div th:if="${book.getOwner_id()}">
    <h3> Книга сейчас у: </h3>
    <a th:href="@{/humans/{id}(id=${owner.getHuman_id()})}"
       th:text="${owner.getName()}">ownerName</a>
    <br/>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getBook_id()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>

</div>
<div th:unless="${book.getOwner_id()}">
    <h3>Эта книга никому не назначена. Кому назначить?</h3>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getBook_id()})}">
        <label for="human">Выберите человека кому назначить:</label>
        <select th:object="${human}" th:field="*{human_id}" id="human">
            <option th:each="person : ${humans}" th:value="${person.getHuman_id()}"
                    th:text="${person.getName}">
            </option>
        </select>
        <input type="submit" value="Назанчить">
    </form>

</div>
<br/>
<br/>

<a href="/books">Вернуться к списку книг</a>
<br/>
<hr/>
<a th:href="@{/books/{id}/edit(id=${book.getBook_id()})}">Редактировать данные либо удалить</a><br/>
<br/>
<br/>

</body>
</html>