<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${human.getName()}"></title>
</head>
<body>
<p th:text="${human.getName() + ', Год рождения: ' + human.getYear_of_birth() + ';'}">VALUE</p>

<div th:if="${books.isEmpty()}">
    <h3>У этого пользователя на данный момент нет выданных книг</h3>
</div>

<div th:unless="${books.isEmpty()}">

    <h3>Взятые книги:</h3>
    <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getBook_id()})}"
           th:text="${book.getName() + ', ' + book.getAuthor() +', '+ book.getYear_of_production()}">books</a>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getBook_id()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
    </div>
</div>

<div>
    <h3>Выдать книгу:</h3>
    <form th:method="PATCH" th:action="@{/humans/{id}/assign(id=${human.getHuman_id()})}">
        <label for="book">Выберите книгу:</label>
        <select th:object="${bookWithoutOwner}" th:field="*{book_id}" id="book">
            <option th:each="book : ${booksWithoutOwner}" th:value="${book.getBook_id()}"
                    th:text="${book.getName}">
            </option>
        </select>
        <input type="submit" value="Назанчить">
    </form>
</div>

<hr/>
<a href="/humans">Вернуться к списку людей</a>
<br/>
<hr/>
<a th:href="@{/humans/{id}/edit(id=${human.getHuman_id()})}">Редактировать данные либо удалить</a><br/>

</body>
</html>